h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 50px;
  line-height: 80px;
  color: #560303;
  text-shadow: 1px 2px #fff;
}

li {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.8;
}

li[completed="true"] {
  text-decoration: line-through;
}

body {
  background-image: url("../img/decorative.jpg");
}

.ui-body-a {
  display: none;
}

.button {
  background-color: #560303;
}
