h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 70px;
  line-height: 100px;
}

li {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.8;
}

li[completed="true"] {
  text-decoration: line-through;
}

body {
  background-image: url("../img/decorative.jpg");
}

.ui-body-a {
  display: none;
}

.add {
  font-size: 6px;
}
